name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4


    - name: Make the OS
      run: mkdir bin && make iso

    #- name: Run check
    #  run: make check

    - name: Run distcheck
      run: make distcheck
