name: Makefile CI

on:
  push: #Only run if it changes code.
    paths: 
     - "kernel/**" 
     - "apps/**" 
     - "Makefile"
     - "linker.ld"
     - "user/**"
    paths-ignore:
     - "user/base-files/**"
  

    
    
    branches: [ "main" ]
  pull_request: #Always run on pull-requests.
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4


    - name: Make the OS
      run: mkdir bin && make img
    - name: Run additional tests..
      run: cd docs/tests/ && chmod +x size.sh && ./size.sh

    
